
@font-face {
  font-family: 'Inter-Regular';
  src: url("pages/styles/fonts/Inter/Inter-Regular.ttf");
}

@font-face {
  font-family: 'Inter-ExtraLight';
  src: url("pages/styles/fonts/Inter/Inter-ExtraLight.ttf");
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: url("pages/styles/fonts/Inter/Inter-SemiBold.ttf");
}

@font-face {
  font-family: 'Inter-Black';
  src: url("pages/styles/fonts/Inter/Inter-Black.ttf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #CACBCC
} 